
 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="center-block">
        <h2>    Please Select Option To continue</h2>
        <br />
        <h3>  <a class="btn btn-info navbar-btn" href="/Boat/RegisterBoat">Register Boat</a></h3>
        <br />
        <h3>     <a class="btn btn-info navbar-btn" href="/Boat/RentBoat">Rent Boat</a></h3>
    </div>
</body>
</html>
